@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Pathway Extreme", Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif; */
}

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.dark .post-content a {
    color: red;
}
